.fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.label {
  padding-right: 5px;
}

.movieInput {
  border: 1px solid #febd11;
  border-radius: 5px;
  height: 20px;
}

.yearSelect {
  border: 1px solid #febd11;
  border-radius: 5px;
  height: 20px;
}
