input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-section {
  background-color: #febd11;
  width: 100%;
  margin: 0 auto 3rem auto;
  text-align: center;
  &__title {
    padding-top: 1rem;
    margin: 0;
    letter-spacing: -0.1rem;
  }
}

.form {
  max-width: 500px;
  margin: auto;
  padding: 1rem 0;
  /* height: 50px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
