.list {
  list-style: none;
  display: grid;
  grid-gap: 10px;
  grid-auto-columns: auto;
  /*  grid-template-columns: repeat(6, 1fr); */
  justify-content: center;
  &__element {
    /* grid-column: 1/7; */
    background-color: #febd11;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
  }
}
